@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Platypi", serif;
  background-image: url(./assets/chatbot-3589528_1920.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 35rem;
  margin: 5rem auto;
  border: 2px solid white;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem (0, 0, 0, 0.1);
  background-color: #192a565f;
}
.title {
  background-color: #192a56;
  color: whitesmoke;
  padding: 0.9rem;
  font-size: xx-large;
  text-align: center;
}
.user-message,
.message {
  margin: 0.5rem;
  padding: 0.8rem;
  max-width: 25rem;
  clear: both;
  width: fit-content;
}
.body {
  height: 30rem;
  overflow-y: auto;
  padding: 2rem;
}
.user-message {
  /* added in ts*/
  background-color: #8c7ae6;
  color: white;
  border-radius: 0.5rem, 0.5rem, 0, 0.5rem;
  float: right;
}
.message {
  background-color: #353b48;
  border-radius: 0.5rem, 0.5rem, 0.5rem, 0;
  float: left;
}
.footer {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #192a56;
}
#user-input {
  flex: 1;
  padding: 1rem;
  border: 2px solid whitesmoke;
  border-radius: 0.5rem;
  margin-right: 0.3rem;
}
#send {
  background-color: #192a56;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.1s ease;
}
#send:hover {
  background-color: #273c75;
}

#send:active {
  transform: scale(0.95);
  background-color: #40739e;
}
